.map {
    margin-top: 56px;
    height: calc(100vh - 56px);
}

@media only screen and (max-width: 1000px) {
    .map {
        margin-top: 113px;
        height: calc(100vh - 113px);
    }
}

@media only screen and (max-width: 580px) {
    .map {
        margin-top: 200px;
        height: calc(100vh - 200px);
    }
}
